page-login {
    .scroll-content {
        background-color: #f9f9f9 !important
    }
    .item-md {
        padding: 0px;
        background-color: #f9f9f9 !important
    }
    .headers {
        font-family: Lato;
    }
    .sub-headers {
        font-family: lato;
        font-size: 10px;
        color: #bbb;
    }
    .button-radius {
        border-radius: 50px !important;
        background-color: #381556 important;
    }
    .toolbar-background-md
    {
        background-color: #f0f0f0 !important;
    }
    .focus-outline :focus
    {
        outline: none !important;
    }
}