.onsite-header {
    border-right: solid 1px #c0c0c0;
    padding: 10px;
}
.pad10{
    padding:7px;
}
.text-area{
    background-color: #f0f0f0;
    height: 80%;
}
.fontsize14{
    font-size: 14px !important;
}
.attachment-image{
    height: 100px;
    width: 100px;
}