page-attachments {
  
  .attachments-label{
    color: #185c99 !important;
    font-family: Lato;
    font-size: 16px;
    font-weight: bold;
  }
  .img-parentDiv{
    margin-right: 30px;
    margin-bottom: 30px;
    width: 110px;
  }
  .ios-file-input{
    position: absolute;
    opacity: 0;
    // z-index: 1;
    width: 10%;
    min-height: 155px;  /*Height must be a bit less than the height of the "Upload Document" button.*/
  }
  .ios-image-input
  {
    position: absolute;
    opacity: 0;
    // z-index: 1;
    width: 10%;
    min-height: 155px;
  }
  .buttons-row,
  .buttons-col {
    margin: 0;
    padding: 0;
  }
  .card-childContainer {
    padding: 30px 22px 30px 22px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.2);
  }
  
}
.widthfull
{
    width: 100%
}
.attachment-border
{
  padding: 20px;
  border: solid 1px #cfcfcf;
  margin: 20px;
  width: 190px;
  height: 190px;
  padding-bottom: 0px;
  padding-top: 25px;
}
.attachment-grid
{
  align-items: center
}
.attachment-label
{
  text-align: center;
  width: 100%
}