.attachments-label{
    color: #185c99 !important;
    font-family: Lato;
    font-size: 16px;
    font-weight: bold;
  }
  .img-parentDiv{
    margin-right: 30px;
    margin-bottom: 30px;
    width: 110px;
  }