<ion-header>
    
    <ion-navbar>
        <ion-title>Attachments</ion-title>
    </ion-navbar>
    
</ion-header>


<ion-content padding>
    <ion-row class="card-childContainer" style="margin-left:10px">
        <ion-row class="widthfull">
            <ion-col col-10>
                <span class="attachments-label">Add the images here</span>
            </ion-col>
            
            <ion-col >
                <ion-col>
                    <input accept="image/*"  item-end type="file" id="fileUpload" class="ios-image-input" (change)="onImageFromStorageChosen($event)" />
                    <ion-icon item-end class="top-button" name="images"  style="padding-right:15px"></ion-icon>
                </ion-col>
                <ion-col>
                    <ion-icon name="camera" item-end (click)="showCamera()" style="padding-right:20px"></ion-icon>
                    <ion-icon name="md-create" item-end></ion-icon>
                </ion-col>
            </ion-col>
        </ion-row>
        <ion-row *ngFor="let image of attachmentImages" class="attachment-border">
            <ion-grid class="attachment-grid">
                <img [src]="image.base64" width="100" height="100"/>
                <ion-label class="attachment-label" >{{image.name}}</ion-label>
            </ion-grid>
            
        </ion-row>
        <ion-row class="attachment-border">
            <ion-grid class="attachment-grid">
                <img src="assets/attachments/cyclinder.png" width="100" height="100"/>
                <ion-label class="attachment-label" >Cyclinder</ion-label>
            </ion-grid>
        </ion-row>
        <ion-row class="attachment-border">   
            <ion-grid class="attachment-grid">
                <img src="assets/attachments/valve.png" width="100" height="100"/>
                <ion-label class="attachment-label" >Valve</ion-label>
            </ion-grid>
        </ion-row>
        <ion-row class="attachment-border">
            <ion-grid class="attachment-grid">
                <img src="assets/attachments/air.png" width="100" height="100"/>
                <ion-label class="attachment-label" >Air conditioning</ion-label>
            </ion-grid>
        </ion-row>
        
    </ion-row>
    
    <ion-row class="buttons-row card-childContainer" style="margin-left:10px;margin-top:30px">
        <ion-row class="widthfull">
            <span col-10 class="attachments-label">Add the files here</span>
            <ion-col col-2>
                <input accept=
                "application/msword, application/vnd.ms-excel, application/vnd.ms-powerpoint,
                text/plain, application/pdf"  item-end type="file" id="fileUpload" class="ios-file-input" (change)="onFileFromStorageChosen($event)" />
                <!-- <button item-end ion-button full small icon-left class="top-button"> -->
                    <ion-icon name="folder"></ion-icon>
                    <!-- Upload File -->
                    <!-- </button> -->
                </ion-col>
            </ion-row>

            <ion-row *ngFor="let file of attachmentFiles" class="attachment-border">
                <ion-grid class="attachment-grid">
                    <img class="attachment-image" width="100" height="100" src="assets/imgs/Notepad_1x.png" />
                    <img class="attachment-image" width="100" height="100" src="assets/imgs/Word_1x.png"  />
                    <img class="attachment-image" width="100" height="100" src="assets/imgs/Excel_1x.png" />
                    <img class="attachment-image" width="100" height="100" src="assets/imgs/pdf.png" />
                    
                    <ion-label class="attachment-label" >{{file.name}}</ion-label>
                </ion-grid>
            </ion-row>

            <ion-row class="attachment-border">
                    <ion-grid class="attachment-grid">
                        <img class="attachment-image" width="100" height="100" src="assets/imgs/Excel_1x.png" />
                    </ion-grid>
                </ion-row>

                  <ion-row class="attachment-border">
                    <ion-grid class="attachment-grid">
                        <img class="attachment-image" width="100" height="100" src="assets/imgs/pdf.png" />
                    </ion-grid>
                </ion-row>

                <ion-row class="attachment-border">
                        <ion-grid class="attachment-grid">
                            <img class="attachment-image" width="100" height="100" src="assets/imgs/PowerPoint_1x.png" />
                        </ion-grid>
                    </ion-row>
 
                    
                    <ion-row class="attachment-border">
                            <ion-grid class="attachment-grid">
                                <img class="attachment-image" width="100" height="100" src="assets/imgs/Word_1x.png" />
                            </ion-grid>
                        </ion-row>
         
 



            
        </ion-row>
        
        <ion-fab right bottom>
            <button ion-fab color="#fff"><ion-icon name="add"></ion-icon></button>
            <ion-fab-list side="top">
                <button ion-fab (click) = "goToTime()"><ion-icon name="time" style="color:#fff"></ion-icon></button>
                <button ion-fab (click) = "goToExpense()"><ion-icon name="cash" style="color:#fff"></ion-icon></button>
                <button ion-fab  (click) = "goToMaterial()"><ion-icon name="construct" style="color:#fff"></ion-icon></button>
                <button ion-fab  (click) = "goToNotes()"><ion-icon name="clipboard" style="color:#fff"></ion-icon></button>
                <button ion-fab (click) = "goToAttachments()"><ion-icon name="attach" style="color:#fff"></ion-icon></button>
                <button ion-fab (click) = "goToEngineerSignature()"><ion-icon name="create" style="color:#fff"></ion-icon></button>
                <button ion-fab  (click) = "goToSummary()"><ion-icon name="book" style="color:#fff"></ion-icon></button>
                <button ion-fab (click) = "goToCustomerSignature()"><ion-icon name="checkmark-circle" style="color:#fff"></ion-icon></button>
            </ion-fab-list>
        </ion-fab>
    </ion-content>
    