.menu-inner {
    background: #004b8d !important;
}

.scroll-bar-indicator {
    display: none;
}

::-webkit-scrollbar {
    display: none;
}

.pad-7 {
    padding: 7px;
}

.pad-10 {
    padding: 10px;
}

.pad-15 {
    padding: 15px;
}

.text-area {
    background-color: #f0f0f0;
    height: 80%;
}

.fontsize14 {
    font-size: 14px !important;
}

.noBorder-topBottom {
    border-top: none !important;
    border-bottom: none !important;
}

.font-color {
    color: #666666;
}

.font-size18 {
    font-size: 18px;
}

.font-size16 {
    font-size: 15px;
}

.font-weight600 {
    font-weight: 600;
}

.font-weight900 {
    font-weight: 900;
}

.font-weightbold {
    font-weight: bold;
}

.martop-5 {
    margin-top: 5px;
}

.width100 {
    width: 100%;
}

.text-center {
    text-align: center;
}

.no-marginLeft {
    margin-left: 0px !important;
}

.menu-inner {
    width: 200px !important;
}

span.inline-text {
    line-height: 24px;
    font-size: 12px;
    vertical-align: top;
    margin-left: 5px;
}

.user-block{
    margin: 40px 0;
    .outer-circle{
        border-radius: 50%;
        border: 1px solid #fff;
        width: 90px;
        height: 90px;
        margin: 0 auto;
        .image-box{
            border-radius: 50%;
            border: 1px solid #fff;
            vertical-align: middle;
            height: 100%;
            width: 100%;
            padding: 7px;
            .user-image-icon{
                font-size: 60px;
                height: 100%;
                width: 100%;
            }
        }
    }
    .name-text{
        padding-top:10px;
        font-size:11px;
        display:block;
        font-weight:600;
    }
}

.settings{
    width: 130px;
    height: 40px;
    background-color: none;
    position: absolute;
    bottom: 0px;
    cursor: pointer;
}

.inner {
    text-align: center;
    vertical-align: middle;
    line-height: 40px;
    font-size: 13px;
    cursor: pointer;
}
