page-calendar {
    .calenderRow{
        
    }
    .calenderCol{
        border: solid 1px #ebebeb;
        margin:1px;
         height:60px;
         display: flex;
         align-items: center;
         justify-content: center;
         background: #ffffff
    }
    ion-content{
        background-color: #f9f9f9 !important;
    }
    .calenderMonth{
         font-family: Lato;
            font-size: 35px;
            font-weight: 900;
            font-style: normal;
            font-stretch: normal;
            line-height: 0.73;
            letter-spacing: normal;
            text-align: left;
            color: #555555;
    }
    .calendarButton{
        background-color: #ffffff;
        border: solid 1px #ebebeb;
        border-radius: 100%;
        width: 41px;
        height: 41px;
    }
}
