<ion-header>
  <ion-navbar>
    <ion-title>Emerson</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-grid style="height: 100%">
    <ion-row style="height: 100%">
      <ion-col>
        <ion-row style="height: 40px;background: #ffffff; box-shadow: 0px 2.5px 3px 0.5px rgba(187, 187, 187, 0.2);">
          <ion-col>
             <span class="timeSlotFont"> Day View</span>
          </ion-col>
          <ion-col style="text-align: right;padding-right: 10px">
             <span class="timeSlotFont" style="color: #7c7c7c;">{{selectedDate}}</span> 
          </ion-col>
        </ion-row>
        <ion-content>
        <ion-row *ngFor="let t of currentDay.slots">
          <ion-col class="timeSlot" [ngClass]="{'e-assigned':t.status=='Assigned','e-accepted':t.status=='Accepted','e-completed':t.status=='Completed'}">
            <span class="timeSlotFont"> {{t.Time}}</span>
            <div *ngFor="let e of t.events">
              {{getMessageFormat(e)}}
                <ion-icon name="md-arrow-forward" style="color: #55ff55;" (click)="showEvent(e)"></ion-icon>
            </div>
          </ion-col>
        </ion-row>
        </ion-content>
      </ion-col>
      <ion-col>
        <ion-row>
          <ion-col>
              <span class="calenderMonth">{{currentMonth.format('MMMM YYYY')}}</span>
          </ion-col>
          <ion-col style="text-align: right;">
              <button ion-button icon-only class="calendarButton" (click)="prevMonth()">
                <ion-icon name="ios-arrow-back" style="color: #555555;"></ion-icon>
              </button>
              <button ion-button icon-only class="calendarButton" (click)="nextMonth()">
                <ion-icon name="ios-arrow-forward" style="color: #555555;"></ion-icon>
              </button>
          </ion-col>
        </ion-row>
        <ion-row *ngFor="let w of uiCalendar" class="calenderRow" justify-content-center align-items-center  >
          <ion-col *ngFor="let d of w.days" (click)=updateDate(d.day)>
            <span  *ngIf="currentMonth.month() == d.day.month()" class="calenderCol">
              <span class="calendarDate">{{d.day.date()}}</span>
              <span class="calendarEvent" *ngIf="d.event">{{d.event}}</span>
            </span>
          </ion-col>
        </ion-row>

        <ion-row class="event-box" *ngIf="currentEvent && currentEvent.length" [ngClass]="{'assigned':status=='Assigned','accepted':status=='Accepted','completed':status=='Completed'}">
          <ion-row *ngFor="let e of currentEvent" class="full-width list-event">
            <ion-col class="col">{{e.label}}</ion-col>
            <ion-col class="col">{{e.value}}</ion-col>
          </ion-row>
        </ion-row>
      </ion-col>
    </ion-row>    
  </ion-grid>
</ion-content>