page-calendar {
    .calenderRow{
        
    }
    .calenderCol{
        border: solid 1px #ebebeb;
        margin:1px;
        height:60px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        background: #ffffff;
        position: relative;
    }
    span.calendarDate {
        text-align: center;
    }
    span.calendarEvent {
        width: 100% !important;
        background: #aaffaa;
        position: absolute;
        bottom: 0;
        font-size: 11px;
        color: grey;
        text-align: center;
    }
    ion-content{
        background-color: #f9f9f9 !important;
    }
    .full-width{
        width: 100%;
    }
    .calenderMonth{
         font-family: Lato;
            font-size: 35px;
            font-weight: 900;
            font-style: normal;
            font-stretch: normal;
            line-height: 0.73;
            letter-spacing: normal;
            text-align: left;
            color: #555555;
    }
    .calendarButton{
        background-color: #ffffff;
        border: solid 1px #ebebeb;
        border-radius: 100%;
        width: 41px;
        height: 41px;
    }
    .highlightCurrentWeek {
        background: #e0e0e0;
    }
    .week-traverse{
        color: #004b8d;
        font-size:20px;
        vertical-align: bottom;
        color: #004b8d;
        font-size:20px;
        vertical-align: bottom;
        box-shadow: 0 0 10px grey;
        padding: 0 5px;
        height: 20px;
        width: 20px;
        border-radius: 50%;
        justify-content: center;
    }
    .rotate-infinite{        
        animation-name: loading;
        animation-duration: 1s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        width: 15px;
        font-size: 25px;
        height: 15px;
        border: 2px solid grey;
        position: relative;
        border-radius: 50%;
        &:after{
            display: inline-block;
            content: "";
            position: absolute;
            right: -4px;
            top: 50%;
            width: 5px;
            height: 5px;
            background: white;
        }
    }
    @-webkit-keyframes loading {
        0%   {transform: rotate(0deg)}
        25% {transform: rotate(90deg)}
        50%  {transform: rotate(180deg)}
        75% {transform: rotate(270deg)}
        100% {transform: rotate(360deg)}
    }
    .disabled-date{
        opacity: 0.3;
    }
    .timeSlot{
        // min-height:75px;
        background-color: #ffffff;
        width: 100%;
        margin-bottom: 20px;
    }
    .week-day-block{
        margin-bottom: 20px;
        .week-trigger{
            .w-date{
                color: #004b8d;
                cursor: pointer;
            }
            padding: 10px;
            background: #ffffff;
            width: 100%;
            .pull-right{
                margin-top: 13px;
                float: right;
                cursor: pointer;
            }
        }
        .day-block{
            width:100%;
            margin: 0 10px;
            background: #fff;
        }
    }
    .font-size-13{
        font-size: 13px;
    }
    .w-100p{
        width:100%;
    }
    .w-35p{
        width: 35%;
    }
    .w-65p{
        width: 65%;
    }
    .w-40p{
        width: 40%;
    }
    .w-60p{
        width: 60%;
    }
    .mar-0{
        margin: 0px !important;
    }
    .pad-0{
        padding: 0px !important;
    }
    .arrow-event{
        width: 15px;
        color: #55ff55;
        float: right;
    }
    
    .message-format{
        width: calc(100% - 20px);
        overflow: hidden;
        float: left;
        font-size: 11px;
        display: inline-block;
    }
    .timeSlotFont,.select-text,.w-date{
        font-family: Lato;
        font-size: 15px;
        font-weight: 900;
        font-style: normal;
        font-stretch: normal;
        line-height: 2.7;
        letter-spacing: normal;
        text-align: left;
        color: #004b8d;
    }
    .timeSlotFont{
        ion-item{
            .item-inner{
                border-bottom: 0px !important;
            }
            ion-select{
                padding: 0px;
                width: 100%;
                max-width: 100%;
            }
            .select-icon{
                top: 10px;
                right: 10px;
            }
        }
    }
    .event-box{
        margin-top:20px;
        background: #f0f0f0;
        padding: 5px;
        &.assigned{
            border-top: 2px solid #007bfd;
        }
        &.accepted{
            border-top: 2px solid #aaffaa;
        }
        &.completed{
            border-top: 2px solid lightgray;
        }
    }
    .list-event{
        padding: 5px;
        margin: 0;
        background: #f0f0f0;
        /* border-top: 1px solid #aaffaa; */
        border-bottom: 1px solid lightgrey;
    }
    .e-assigned{
        border: 1px solid #007bfd;
        .arrow-event{
            color: #007bfd;
        }
    }
    .e-accepted{
        border: 1px solid #5fc96e;
        .arrow-event{
            color: #5fc96e;
        }
    }
    .e-completed{
        border: 1px solid lightgray;
        .arrow-event{
            color: lightgray;
        }
    }
    .internal-grid{
        padding: 0px;
        .list-md{
            margin: 0px;
            .row{
                padding-bottom: 0px !important;
                .item-wrapper{
                    margin-bottom: 10px;
                    .item-md{
                        padding-left: 0px !important;
                        .item-inner{
                            padding: 0px;
                            .label-md{
                                margin:0px 3px;
                            }
                        }
                    }
                }
            }
        }
    }
}
