<ion-header>
  
  <ion-navbar>
    <ion-title>Emerson</ion-title>
  </ion-navbar>
  
</ion-header>


<ion-content padding>
  <ion-label class="header-labeles uppercase" translate="Customer Call Details"></ion-label>
  <ion-row class="card-childContainer">
    <ion-col col-9>
      <ion-row class="note-type-label mylabel marginbottom12 widthfull uppercase" translate="Customer Name"></ion-row>
      <ion-row class="note-type-value myvalue bold uppercase widthfull uppercase">{{summary.taskObject.Customer_Name}}</ion-row>
      
      <ion-row class="margin20 widthfull">
        <ion-row class="stroke widthfull"></ion-row>
      </ion-row>
      <ion-row class="widthfull">
        <ion-col col-3>
          <ion-label class="mylabel uppercase" translate="Service Request"></ion-label>
          <ion-label class="myvalue uppercase bold">{{summary.taskObject.Service_Request}}</ion-label>
        </ion-col>
        
        <ion-col col-3>
          <ion-label class="mylabel uppercase" translate="Field Job Number"></ion-label>
          <ion-label class="myvalue bold">{{summary.taskObject.Task_Number}}</ion-label>
        </ion-col>
        <ion-col col-6>
          
          <ion-label class="mylabel uppercase" translate="Field Job Description"></ion-label>
          <ion-label class="myvalue bold">{{summary.taskObject.Job_Description}}</ion-label>

          <!--<table class="table no-marbottom" style="margin-top: 12px;width:100%">
            <thead>
              <tr style="border-top: solid 1px #c0c0c0;">
                <th class="taskoverflow-tableTh"  translate="Start Date"></th>
                <th class="taskoverflow-tableTh"  translate="End Date"></th>
                <th class="taskoverflow-tableTh"  translate="Duration"></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor=" let time of  summary.taskObject.times">
                <td class="taskoverflow-tableTd">{{time.Start_Date }}</td>
                <td class="taskoverflow-tableTd">{{time.End_Date}}</td>
                <td class="taskoverflow-tableTd">{{time.Duration}}</td>
              </tr>
            </tbody>
            
          </table>-->
          
        </ion-col>
      </ion-row>      
      <ion-row class="margin20 widthfull">
        <ion-row class="stroke"></ion-row>
      </ion-row>            
      <ion-row class="widthfull">
        <ion-row class="margintop20" style="width:100%">
          <ion-col col-2 class="mylabel">
            <span translate="Item Name"></span>
            
          </ion-col>
          <ion-col col-2 class="mylabel padding-right15">
            <span translate="Item Description"></span>
            
          </ion-col>
          <ion-col col-2 class="mylabel">
            <span translate="System ID / Serial"></span>
            <span> #</span>
          </ion-col>
          <ion-col col-2 class="mylabel">
            <span translate="TAG"></span>
            <span> #</span>
          </ion-col>
          <ion-col col-2 class="mylabel">
            <span translate="ORIGINAL PO"></span>
            <span>#</span>
          </ion-col>
        </ion-row>        
        <ion-row  *ngFor=" let install of summary.taskObject.InstallBase" style="width:100%">
          <ion-col col-2 flex="20" class="myvalue" style="word-wrap:break-word">
            <div class="bold">{{install.Item_Number|| "NO VALUE"}}</div>
          </ion-col>
          <ion-col col-2 flex="20" class="myvalue" style="word-wrap:break-word;margin-right:5px;">
            <div class="bold">{{install.Description|| "NO VALUE"}}</div>
          </ion-col>
          <ion-col col-2 flex="20" class="myvalue" style="word-wrap:break-word;margin-right:5px;">
            <div class="bold">{{install.Serial_Number|| "NO VALUE"}}</div>
          </ion-col>
          <ion-col col-2 flex="20" class="myvalue" style="word-wrap:break-word;margin-right:5px;">
            <div class="bold">{{install.TagNumber|| "NO VALUE"}}</div>
          </ion-col>
          <ion-col col-2 flex="20" class="myvalue" style="word-wrap:break-word">
            <div class="bold">{{install.Original_PO_Number|| "NO VALUE"}}</div>
          </ion-col>
        </ion-row>      
      </ion-row>
      
    </ion-col>
    <ion-col col-3 class="pad-0">
        <ion-row>
          <ion-col col-6>            
            <ion-label class="mylabel uppercase font-11 mar-0" translate="Start Date"></ion-label>
          </ion-col>
          <ion-col col-6>            
            <ion-label class="mylabel uppercase font-11 mar-0" translate="End Date"></ion-label>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-row *ngFor=" let time of  summary.taskObject.times">            
            <ion-col col-6><ion-label class="myvalue bold font-11 mar-0 pad-0">{{time.Start_Date | date: 'dd/MM/yyyy'}}</ion-label></ion-col>
            <ion-col col-6><ion-label class="myvalue bold font-11 mar-0 pad-0">{{time.End_Date | date: 'dd/MM/yyyy'}}</ion-label></ion-col>
            <ion-row class="widthfull center"><ion-label class="duration">{{time.Duration}}</ion-label></ion-row>
            <ion-row class="widthfull myvalue uppercase center bold"><ion-label translate="Duration"></ion-label></ion-row>
          </ion-row>
        </ion-row>
    </ion-col>
  </ion-row>
  
  
  <ion-label class="header-labeles uppercase" translate="Notes"></ion-label>
  <ion-row class="card-childContainer">
    <table class="table no-marbottom noborder widthfull">
      <thead>
        <tr class="noborder">
          <th class="taskoverflow-tableTh noborder mylabel" col-3 translate="Note Type"></th>
          <th class="taskoverflow-tableTh noborder mylabel" col-9 translate="Note Description"> #</th>
        </tr>
      </thead>
      <tbody >
        <tr class="noborder" *ngFor="let note of summary.notesArray" >
          <td class="taskoverflow-tableTd noborder bg-white myvalue bold" col-3>{{note.noteType.Value| translate}}</td>
          <td class="taskoverflow-tableTd noborder bg-white myvalue bold" col-9 style="padding-bottom:10px !important"> {{note.noteDesc| translate}}</td>
        </tr>
      </tbody>
      
    </table>
  </ion-row>
  <ion-label class="header-labeles uppercase" translate="Attachments"></ion-label>
  <ion-row class="card-childContainer">
    
  </ion-row>
  <ion-label class="header-labeles uppercase" translate="Time"></ion-label>
  <ion-row class="card-childContainer">
    <table class="table no-marbottom noborder widthfull">
      <thead>
        <tr class="summary-tr tr-border-bottom">
          <th class="noborder padding-right"><span class="mylabel uppercase" translate="Service Date"></span></th>
          <th class=" noborder padding-right" *ngIf="userType=='C'"><span class="mylabel uppercase" translate="Charge Type"></span></th>
          <th class=" noborder padding-right" *ngIf="userType=='C'"><span class="mylabel uppercase" translate="Charge Method"></span></th>
          <th class=" noborder padding-right"><span class="mylabel uppercase" translate="Work Type"></span></th>
          <th class=" noborder padding-right"  *ngIf="userType=='C'" ><span class="mylabel uppercase" translate="Time Code"></span></th>
          <th class=" noborder padding-right" *ngIf="userType=='C'"><span class="mylabel uppercase" translate="Shift Code"></span></th>
          
          <th class="noborder padding-right"><span class="mylabel uppercase" translate="Duration"></span></th>
          <th class="noborder padding-right"><span class="mylabel uppercase" translate="Item"></span></th>
        </tr>
      </thead>
      <tbody >
        <tr class="summary-tr" *ngFor=" let time of  summary.timeArray" [ngClass]="{'borderTop':time.startedSummingUp}">
          <td class="noborder myvalue bold bg-white padding-right"  [ngClass]="{'greenText':time.startedSummingUp}">{{time.Date }}</td>
          <td class="noborder myvalue bold bg-white padding-right" *ngIf="userType=='C'">{{time.Charge_Type| translate}}</td>
          <td class="noborder myvalue bold bg-white padding-right" *ngIf="userType=='C'">{{time.Charge_Method| translate}}</td>
          <!--<td class="noborder myvalue bold bg-white padding-right" ng-if="userType!='C'">{{taskObject.Charge_Type| translate}}</td>-->
          <!--<td class="noborder myvalue bold bg-white padding-right" ng-if="userType!='C' && time.Work_Type=='Travel' && time.grandTotal!='bold' && time.Date!='SUB TOTAL'">{{taskObject.Travel_Method| translate}}</td>
            <td class="noborder myvalue bold bg-white padding-right" ng-if="userType!='C' && time.Work_Type!='Travel' && time.grandTotal!='bold' && time.Date!='SUB TOTAL'">{{taskObject.Labor_Method| translate}}</td>-->
            <td class="noborder myvalue bold bg-white padding-right" [ngClass]="{'greenText':time.totalCalculated,'borderTop':time.totalCalculated}">{{time.Work_Type| translate}}</td>
            <!-- <td md-cell>{{time.standard}}</td> -->
            <td class="noborder myvalue bold bg-white padding-right" *ngIf="userType=='C'" [ngClass]="{'borderTop':time.totalCalculated}">{{time.Time_Code}} </td>
            <td class="noborder myvalue bold bg-white padding-right" *ngIf="userType=='C'" [ngClass]="{'borderTop':time.totalCalculated}">{{time.Shift_Code}} </td>
            <!-- <td class="noborder myvalue bold bg-white padding-right">{{time.startTime|date:'HH:mm'}}</td>
              <td class="noborder myvalue bold bg-white padding-right">{{time.endTime|date:'HH:mm'}}</td> -->
              <td class="noborder myvalue bold bg-white padding-right" [ngClass]="{'greenText':time.totalCalculated,'borderTop':time.totalCalculated}">{{time.Duration}}</td>
              <td class="noborder myvalue bold bg-white padding-right">{{time.Item| translate}}</td>
            </tr>
          </tbody>
        </table>
      </ion-row>
      <ion-label class="header-labeles uppercase" translate="Material"></ion-label>
  <ion-row class="card-childContainer">
        <table class="table no-marbottom noborder widthfull">
          <thead>
            <tr class="summary-tr  tr-border-bottom">
              <th class="noborder width14"><span  class="mylabel uppercase"  translate="Charge Type"></span></th>
              <th class="noborder width14"><span  class="mylabel uppercase"  translate="Quantity"></span></th>
              <th class="noborder width14"><span  class="mylabel uppercase"  translate="Serial"></span><span>#</span></th>
              <th class="noborder width14"><span  class="mylabel uppercase"  translate="Serial In"></span></th>
              <th class="noborder width14"><span  class="mylabel uppercase"  translate="Serial Out"></span></th>
              <th class="noborder width14"><span  class="mylabel uppercase"  translate="item name"></span></th>
              <th class="noborder width14"><span  class="mylabel uppercase"  translate="Item Description"></span></th>
            </tr>
          </thead>
          <tbody>
            <tr class="summary-tr" *ngFor="let material of summary.materiaArray">
              <td class="noborder  myvalue bold bg-white width14">{{material.chargeMethod.Value| translate}}</td>
              <td class="noborder  myvalue bold bg-white width14">{{material.productQuantity}}</td>
              <td class="noborder  myvalue bold bg-white width14" style="word-wrap:break-word;word-break:break-all">
                <span  *ngFor="let serial of material.serialType">
                    {{serial.serialNumber}}<br />
                </span>
              </td>
              <td class="noborder  myvalue bold bg-white width14" style="word-wrap:break-word;word-break:break-all"><span  *ngFor="let serial of material.serialType"> {{serial.serialIn}}<br /></span></td>
              <td class="noborder  myvalue bold bg-white width14" style="word-wrap:break-word;word-break:break-all"><span  *ngFor="let serial of material.serialType">{{serial.serialOut}}<br /></span></td>
              <td class="noborder  myvalue bold bg-white width14">{{material.itemName}}</td>
              <td class="noborder  myvalue bold bg-white width14">{{material.itemDesc}}</td>
            </tr>
          </tbody>
        </table>
  </ion-row>
      <ion-label class="header-labeles uppercase" translate="Signature"></ion-label>
      <ion-row class="card-childContainer">
        
      </ion-row>
      <ion-fab right bottom>
        <button ion-fab color="light"><ion-icon name="add"></ion-icon></button>
        <ion-fab-list side="top">
          <button ion-fab (click) = "goToTime()"><ion-icon name="time"></ion-icon></button>
          <button ion-fab (click) = "goToExpense()"><ion-icon name="cash" ></ion-icon></button>
          <button ion-fab  (click) = "goToMaterial()"><ion-icon name="construct"></ion-icon></button>
          <button ion-fab  (click) = "goToNotes()"><ion-icon name="clipboard"></ion-icon></button>
          <button ion-fab (click) = "goToAttachments()"><ion-icon name="attach" ></ion-icon></button>
          <button ion-fab (click) = "goToEngineerSignature()"><ion-icon name="create" ></ion-icon></button>
          <button ion-fab  (click) = "goToSummary()"><ion-icon name="book"></ion-icon></button>
          <button ion-fab (click) = "goToCustomerSignature()"><ion-icon name="checkmark-circle" ></ion-icon></button>
        </ion-fab-list>
      </ion-fab>
    </ion-content>
    