// page-timePopupcontent {
    @media only screen and (min-height: 445px) and  (min-width: 768px)
    {
    .modal-wrapper {
        left: calc(50% - (85vw/2));
        top: calc(50% - (60vh/2));
        position: absolute;
        width: 85vw;
        height: 60vh;
    }
    
}
@media not all and (min-height: 600px) and (min-width: 768px)
{
    ion-modal ion-backdrop
    {
        visibility: visible !important
    }
}
@media not all and (min-height: 445px) and (min-width: 768px)
{
    ion-modal ion-backdrop
    {
        visibility: hidden !important
    }
}
.paddingleft15
{
    padding-left:15px !important
}
.customeSelect
{
width:100%!important;max-width:100%!important
    
}
.timeDetails .select-md .select-icon .select-icon-inner
{
    color: black
}
.bold
{
    font-weight: bold;
}
.margintop20
{
    margin-top: 20px
}
.margintop30
{
    margin-top: 30px
}
.width100px
{
    width: 100px !important
}
.bgTransparent
{
    background-color: transparent !important
}
.colorBlack
{
    color: black !important
}
.borderBlack
{
    border: 1px solid black !important
}
.picker-wrapper
{
    transform: translateY(-20%) !important;
    width: 25% !important
}
.debriefPopup .label
{
    font-family: Lato;
    font-size: 11px;
    font-weight: 600;
    font-style: normal;
    color: #666666;
}
.debriefPopup .select-text, .debriefPopup .text-input
{
    font-family: Lato;
    font-size: 10px;
    font-weight: 600;
    font-style: normal;
    color: black;
}
.select-popover .input-wrapper .label
{
    font-family: Lato !important;
    font-size: 11px !important;
     font-weight: 500;
    font-style: normal !important;
    // color: black ;
}
.datePickerBtn
{
    color: black;
    background-color: white;
    box-shadow: none !important;
}
:not(.disable-hover).button-md.datePickerBtn:hover
{
    background-color: white !important;
}
:not(.disable-hover).button-md.datePickerBtn:focus
{
    background-color: white !important;
}
.datePickerBorder
{
    border-bottom: 1px solid #dedede;
    padding:0px !important
}
// }