<ion-header>
  
  <ion-navbar>
    <ion-title>Emerson</ion-title>
  </ion-navbar>
  
</ion-header>


<ion-content padding>
  
  
  <ion-row class="bold">
    <ion-col col-1>NO</ion-col>
    <ion-col col-2>CLARITY TASK NAME</ion-col>
    <ion-col col-1>CHARGE TYPE</ion-col>
    <ion-col col-1>WORK TYPE</ion-col>
    <ion-col col-1>CHARGE METHOD</ion-col>
    <ion-col col-1>ITEM</ion-col>
    <ion-col col-1>TIME CODE</ion-col>
    <ion-col col-1>SHIFT CODE</ion-col>
    <ion-col col-1>DATE</ion-col>
    <ion-col col-1>DURATION</ion-col>
    <ion-col col-1>COMMENTS</ion-col>
  </ion-row>
  <ion-list *ngFor="let time of timeArray let i = index">
    <ion-row>
      <ion-item-sliding #item>
        <ion-item>
          
          <ion-col col-1>{{time.timeId}}</ion-col>
          <ion-col col-2>{{time.taskName.JobName}}</ion-col>
          <ion-col col-1>{{time.chargeType.value}}</ion-col>
          <ion-col col-1>{{time.workType.value}}</ion-col>
          <ion-col col-1>{{time.chargeMethod.value}}</ion-col>
          <ion-col col-1>{{time.item.value}}</ion-col>
          <ion-col col-1>{{time.timeCode.Overtimeshiftcode}}</ion-col>
          <ion-col col-1>{{time.shiftCode.ShiftCodeName}}</ion-col>
          <ion-col col-1>{{time.date}}</ion-col>
          <ion-col col-1>{{time.duration}}</ion-col>
          <ion-col col-1>{{time.comments}}</ion-col>
        </ion-item>
        <!-- <ion-item-options side="left">
          <button ion-button (click)="favorite(item)">Favorite</button>
          <button ion-button color="danger" (click)="share(item)">Share</button>
        </ion-item-options> -->
        
        <ion-item-options side="right" icon-start>
          <ion-row>
            <ion-col  class="padding0"><button color="danger" ion-button (click)="deleteObject(time,i)">
                <ion-icon name="trash"></ion-icon>
               
              </button>
            </ion-col>
            <ion-col class="padding0">
                <button ion-button  (click)="editObject(time,i)" >
                    <ion-icon name="create"></ion-icon>
                   
                  </button>
            </ion-col>
          </ion-row>
          
          
          
        </ion-item-options>
      </ion-item-sliding>
    </ion-row>
    
  </ion-list>
  <!-- <ion-row *ngFor="let time of timeArray">
    <ion-col col-1>{{time.timeId}}</ion-col>
    <ion-col col-2>{{time.taskName.JobName}}</ion-col>
    <ion-col col-1>{{time.chargeType.value}}</ion-col>
    <ion-col col-1>{{time.workType.value}}</ion-col>
    <ion-col col-1>{{time.chargeMethod.value}}</ion-col>
    <ion-col col-1>{{time.item.value}}</ion-col>
    <ion-col col-1>{{time.timeCode.Overtimeshiftcode}}</ion-col>
    <ion-col col-1>{{time.shiftCode.ShiftCodeName}}</ion-col>
    <ion-col col-1>{{time.date}}</ion-col>
    <ion-col col-1>{{time.duration}}</ion-col>
    <ion-col col-1>{{time.comments}}</ion-col>
  </ion-row> -->
  <ion-fab right bottom>
    <button ion-fab color="light"><ion-icon name="add"></ion-icon></button>
    <ion-fab-list side="top">
      <button ion-fab (click) = "goToTime()"><ion-icon name="time"></ion-icon></button>
      <button ion-fab (click) = "goToExpense()"><ion-icon name="cash" ></ion-icon></button>
      <button ion-fab  (click) = "goToMaterial()"><ion-icon name="construct"></ion-icon></button>
      <button ion-fab  (click) = "goToNotes()"><ion-icon name="clipboard"></ion-icon></button>
      <button ion-fab (click) = "goToAttachments()"><ion-icon name="attach" ></ion-icon></button>
      <button ion-fab (click) = "goToEngineerSignature()"><ion-icon name="create" ></ion-icon></button>
      <button ion-fab  (click) = "goToSummary()"><ion-icon name="book"></ion-icon></button>
      <button ion-fab (click) = "goToCustomerSignature()"><ion-icon name="checkmark-circle" ></ion-icon></button>
    </ion-fab-list>
  </ion-fab>
  <ion-row>
    <ion-col>
      <ion-item col-2>
        <ion-label>Toppings</ion-label>
        <ion-select [(ngModel)]="toppings" multiple="true">
          <ion-option>Bacon</ion-option>
          <ion-option>Black Olives</ion-option>
          <ion-option>Extra Cheese</ion-option>
          <ion-option>Mushrooms</ion-option>
          <ion-option>Pepperoni</ion-option>
          <ion-option>Sausage</ion-option>
        </ion-select>
      </ion-item>
    </ion-col>
  </ion-row>
  <!-- 
  </ion-fab> -->
</ion-content>

