page-time {
ion-label
{
    display: flex;
    white-space: normal
}
.padding0
{
    padding: 0px !important
}
.cutomItem
{
    // background-color: transparent !important
}


}
.itemPaddingLeft0
{
    padding-left: 0px;
}
.itemPaddingLeft0 .item-inner
{
    padding-right: 0px !important
}
.label-md
{
    margin-right: 0px !important
}

