
.customePicker
{
    left:-55% !important;
    top: 32% !important;
}
.swipeButton .button-inner
{
    display: table !important;
}
.displayMiddle
{
    vertical-align: middle;display: table-cell;
}

