page-fieldjob {



    .firstcol
    {
        border-right: 1px solid #f4f4f4;
        background: white;
        margin: 5px;
        padding: 0px;
    }
    .secondcol
    {
        background: white;
        margin: 5px;
        padding: 0px;
    }


    .scroll-contentonsite-btns

    {
        background-color: #f7f7f7 !important;
    }
.detail {
        font-size: 16px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color: #333;
      };

      .ONSITE-REQUIREMENTS {
        font-family: Lato;
        font-size: 15px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color: rgba(188, 188, 188, 0.4);
      }
      .mylabel {
        font-family: Helvetica;
        font-size: 15px;
        font-weight: lighter;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: left;
        color: #444444;
        padding-bottom: 5px;

      }
      .myvalue{
        font-family: Lato;
        font-size: 12px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: left;
        color: #444444;
        padding-bottom: 11px;
      }
      .duration {
        font-family: Lato;
        font-size: 10vh;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: left;
        color: #185c97;
      }
      .onsite-header {
        border-right: solid 1px #c0c0c0;
        padding: 10px;
    }
    .no-padding{
        padding: 0px;
    }
    .pad-7{
        padding:7px;
    }
    .pad-10{
        padding: 10px;
    }
    .pad-15{
        padding: 15px;
    }
    .text-area{
        background-color: #f0f0f0;
        height: 80%;
    }
    .fontsize14{
        font-size: 14px !important;
    }
    .fontsize16
    {
        font-size: 16px !important;
    }
    .attachment-image{
        height: 100px;
        width: 100px;
    }
    .noBorder-topBottom{
        border-top: none !important;
        border-bottom: none !important;
    }
    .font-color{
        color: #666666;
    }
    .font-size10{
        font-size: 10px;
    }
    .font-size11{
        font-size: 11px;
    }
    .font-size14{
        font-size: 14px;
    }
    .font-size18{
        font-size: 18px;
    }
    .font-size16{
        font-size: 15px;
    }
    .font-weight600{
        font-weight: 600;
    }
    .font-weight900{
        font-weight: 900;
    }
    .font-weightbold{
        font-weight: bold;
    }
    .martop-5{
        margin-top: 5px;
    }
    .marbottom-20{
        margin-bottom: 20px;
    }
    .width100{
        width: 100% ;
    }
    .ser-reqNo{
        font-family: Lato;
        font-size: 125px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color: #008c8c;
    }
    .text-center{
        text-align: center;
    }
    .onsite-btns{
        width: 100%;
        opacity: 0.8;
        border-radius: 3px;
        background-color: #008c8c;
        text-transform: none !important;
        font-weight:700;
        
    }

    .onsite-btns:hover {
        background-color: #444444 !important;
    }

    .no-marginLeft{
        margin-left: 0px !important;
    }
    .icon-color{
        color: #008c8c;
    }
    .borderbtm-0,.item-inner{
        border-bottom: 0px !important;
    }
    .ver-middle{
        vertical-align: middle;
    }
    .button-ios{
        font-size: 10px;
    }

    .action-button-row{
      padding : 35px;

    }

    .toolbar-background-md {
      background-color: #008c8c;
    }

}
