page-fieldjob {
.detail {
        width: 95px;
        height: 20px;
        font-family: Lato;
        font-size: 25px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: left;
        color: #185c97;
      };
      .ONSITE-REQUIREMENTS {
        width: 286px;
        height: 23px;
        opacity: 0.4;
        font-family: Lato;
        font-size: 25px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: left;
        color: rgba(188, 188, 188, 0.4);
      }
      .mylabel {
        width: 164px;
        height: 18px;
        font-family: Lato;
        font-size: 19px;
        font-weight: 600;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: left;
        color: #666666;
      }
      .myvalue{
        width: 138px;
        height: 16px;
        font-family: Lato;
        font-size: 20px;
        font-weight: 900;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: left;
        color: #666666;
      }

}
